
<div class="container">

    <h1><label for="name">Lista de hoteis</label></h1>
    <input type="text" class="form-control" name="filterHotel" placeholder="Digite o nome do hotel." [(ngModel)]='filterHotel'>
    <div class="row">
      <div class="col">
        <div class="form-group">
          </div>
      </div>
    </div>
  </div>

        <tbody>
          <tr  *ngFor="let hotel of hotel | filter:filterHotel">
            <td>
               <mat-expansion-panel class="expansion-panel">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      {{ hotel.name }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{hotel.description}}.</p>
                <button (click)="openDialog()">
                    Ver Mais
                  </button>
              </mat-expansion-panel>
          </tr>
        </tbody>

  <!--
<div *ngFor="let hotel of hotel">

  <h3>

      <a [title]="hotel.name + ' details'">
        {{ hotel.name }}
      </a>
  </h3>

  <p *ngIf="hotel.description">
    Descrição: {{ hotel.description }}
  </p>

  <button (click)="openDialog()">
    VER MAIS
  </button>
</div>
-->
